.header-logo-image {
	padding: 24px 0;

}

.nav > li > a {
	color: #395180;
    font-weight: bold;
    position: relative;
    display: block;
}

.footer {
	background: #e6e3d9;
	margin-top: 2.5rem;
	height: 365px;
}

.block {
	background-color: #eef1f1;
	background-image: url(img/mountains-lightsky-03.svg);
	background-position: 50% 0%;
	background-repeat: no-repeat;

}

h3.small {

	margin-top: -1px;
	margin-bottom: 22px;
}

svg {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
svg polyline.st12 {
  fill-opacity: 0;
  stroke: red;
  stroke-width: 3;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  animation: draw 10s infinite linear;
  fill: none;
  stroke-miterlimit: 10;
}
svg polyline.st13 {
  fill-opacity: 0;
  stroke: gray;
  stroke-width: 3;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  animation: draw 10s infinite linear;
  fill: none;
  stroke-miterlimit: 10;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


@media (min-width: 768px) {
	.block {background-position: 70% 0%;}			 
}